<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <span class="navbar-text">
    Twlm's Blog
    </span>

    <div class="nav navbar-nav ml-auto" style="position: absolute; right: 20px;">
        <button type="button" class="btn btn-outline-primary me-2 btn-sm">Sign in</button>
        <button type="button" class="btn btn-primary btn-sm">Sign up</button>
    </div>
</nav>
<br/><br/>